#container {
	width: 500px;
	height: 400px;
	background: #FFF;
	overflow: hidden;
	z-index: 60;
	position: relative;
	margin: 20px auto 30px;
	border: 1px solid #CCC;
	-webkit-perspective: 900px;
}

#box {
	width: 300px;
	height: 300px;
	top: 50px;
	left: 100px;
	background: hsla( 000, 30%, 50%, 0.1 );
	position: absolute;
	-webkit-transform-style: preserve-3d;
	-webkit-transition: -webkit-transform 1s;
/* 	-webkit-transform: translateX( 0px ) translateY( -40px ) translateZ( 0px ) rotateX( 0deg ) rotateY( 0deg ) rotateZ( 0deg ); */
/* 	-webkit-transform: translateX( 20px ) translateY( -40px ) translateZ( -300px ) rotateX( -25deg ) rotateY( -45deg ) rotateZ( 0deg ); */
-webkit-transform: translateX( 20px ) translateY( -40px ) translateZ( -80px ) rotateX( -25deg ) rotateY( -45deg ) rotateZ( 0deg );
}

#box li {
	display: block;
	position: absolute;
	border: 0px solid #797979;
	line-height: 12px;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	color: white;
}
    
#box.panels-backface-invisible li {
	-webkit-backface-visibility: hidden;
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *  */

#box .swingbody{
/* 	background: hsla( 100, 100%, 80%, 0 ); */
	border: 0;
	width: 300px;
	height: 220px;
	position: absolute;
	
/* 	-webkit-animation-name: "swingbody_anime1"; */
	-webkit-animation-duration: 5s;
	-webkit-transition-timing-function: ease-in;
	-webkit-animation-iteration-count:infinite;
/* 	-webkit-animation-direction:alternate; */
	-webkit-transform-origin:right top;
	
	-webkit-transform-style: preserve-3d;
	background: hsla( 000, 30%, 50%, 0.1 );
	-webkit-transform:translate3d(45px,0px,0px);
	
}

.swingbody .line_1,.swingbody .line_2{
	width: 6px;
	height: 170px;
	background-color: #cbcbcb;
	position: absolute;
}

.swingbody .line_2{
	-webkit-transform: translateX(100px) translateY(0px);
}

.swingbody .ita{
	width: 106px;
	height: 30px;
	background-color: #d9d9d9;
	-webkit-transform: rotateX( -90deg ) translateX(0px) translateY(0px) translateZ( 154px );
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *  */

#box .yuka {
	width: 400px;
	height: 400px;
/* 	top: 0px; */
	border: 0;
	-webkit-border-radius: 200px;
}

#box .yuka	{
	background-color: #168833;
}

#box .yuka {
 	-webkit-transform: rotateX( -90deg ) translate3d(-100px,0px,10px);
 	
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *  */



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * *  */

@-webkit-keyframes "swingbody_anime1" {

  0%{
    
    -webkit-transform: rotateX( -60deg );
    
    }
    
  50%{
    -webkit-transform: rotateX( 60deg );
    }
    
  100%{
    -webkit-transform: rotateX( -60deg );
    }
  
}

/*
@-webkit-keyframes "swingbody_anime2" {

  0%{
    -webkit-transform: rotateX( 0deg );
    
    }
	
  50%{
    -webkit-transform: rotateX( 50deg );
    }
    
  100%{
    -webkit-transform: rotateX( 00deg );
    }
  
}
*/



