body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 12px;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    color: #333;
    background-color: #E1DFD9;
}


#option-1 {
    width: 500px;
    position: relative;
    z-index: 100;
    margin-bottom: 60px;
    margin: 0 auto 40px;
}

#box li {
    margin: 0;
}
